@use '../../../../styles/variables' as *;

.labelWrapper {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.label {
  margin: 0;
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--theme-elevation-1000);
}

.detailsWrapper {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.detailsLabel {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
  color: var(--theme-elevation-800);
}
