@use '../../../../styles/variables' as *;

.container {
  padding: 1.5rem;
  background: var(--theme-elevation-50);
  border: 1px solid var(--theme-elevation-150);
  border-radius: 4px;
}

.title {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0;
}

.description {
  margin-bottom: 1rem;
  color: var(--theme-elevation-600);
}

.result {
  margin-top: 1rem;
  padding: 0.5rem;
  background: var(--theme-elevation-0);
  border-radius: 4px;
  font-size: 0.875rem;
  white-space: pre-wrap;
}
